[API_Gemini]
APIBase = 
APIKey = 
ModelName = gemini-2.0-flash
DisplayName = Google Gemini
Recognizer = gemini

[API_GPT]
APIBase = 
APIKey = 
ModelName = gpt-4o-mini
DisplayName = GPT
Recognizer = openai

[API_DeepSeek]
APIBase = https://aihubmix.com/v1
APIKey = your-aihubmix-api-key-here
ModelName = gpt-5.5-free
DisplayName = AIHubMix
Recognizer = openai

[API_QWen]
APIBase = https://api.siliconflow.cn/v1
APIKey = 
ModelName = Qwen/Qwen3-VL-8B-Instruct
DisplayName = Qwen3-VL
Recognizer = openai

[API_GLM]
APIBase = https://open.bigmodel.cn/api/paas/v4
APIKey = your-zhipuai-api-key-here
ModelName = glm-4.6v-flash
DisplayName = GLM-4.6V-Flash
Recognizer = glm

[API_iFLY]
APPID = 
APISecret = 
APIKey = 
DisplayName = 讯飞API
Recognizer = ifly
