[API_Gemini]
APIBase = 
APIKey = 
ModelName = gemini-2.0-flash

[API_GPT]
APIBase = 
APIKey = 
ModelName = gpt-4o-mini

[API_DeepSeek]
APIBase = https://api.siliconflow.cn/v1
APIKey = 
ModelName = Pro/deepseek-ai/deepseek-vl2

[API_QWen]
APIBase = https://api.siliconflow.cn/v1
APIKey = 
ModelName = Qwen/Qwen3-VL-8B-Instruct

[API_iFLY]
APPID = 
APISecret = 
APIKey = 
